    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="#/" class="navbar-brand">
                    <img src="images/logo_es.png" />
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars fa-lg"></i>
                </button>
            </div>

            <div ng-include="'views/partial/menu.html'"></div>
        </div>
    </div>
