<div class="col-md-8 col-md-offset-2">
   <form name="nuevo" ng-submit="fnNuevaEstructura()" class="form-horizontal">
        <fieldset>

            <legend>{{nivel}}</legend>

            <div class="form-group">
                <label class="col-md-4 control-label" for="">Nombre</label>
                <div class="col-md-4">
                    <input ng-model="form.nombre" type="text" placeholder="Nombre" class="form-control input-md" required="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for=""></label>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success" ng-disabled="nuevo.$invalid"><i class="fa fa-check"></i> Guardar</button>
                    <btn-cancel></btn-cancel>
                </div>
            </div>
        </fieldset>
    </form>
</div>
